<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>

    <ion-card *ngFor="let movie of myMovies">
      <ion-card-title>
        {{movie.Title}}
      </ion-card-title>
      <ion-card-subtitle>
        year:
        {{movie.Year}}<br>
        imdb ID:
        {{movie.imdbID}}
      </ion-card-subtitle>
      <br>
      <ion-card-content>
        <img src="{{movie.Poster}}">
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>